@model brouillon.Models.CompteMarketerModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompteMarketerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.montant_net)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montant_net)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeMARKETER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeMARKETER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_c)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codeCOMPTE_MARKETER }) |
    @Html.ActionLink("Back to List", "afficherTous")
</p>
