@model IEnumerable<brouillon.Models.TransactionEffectueeModel>

@{
    ViewBag.Title = "afficherTous";
}

<h2>afficherTous</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_transaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montant_transaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeCOMPTE_MARKETER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_c)
        </th>
        <th></th>
    </tr>

@foreach (ClassLibrary.Transaction_effectuee item in ViewBag.listeTransaction_effectuee) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_transaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montant_transaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeCOMPTE_MARKETER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_c)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { code=item.codeTRANSACTION_EFFECTUEE }) |
            @Html.ActionLink("Details", "Details", new { code = item.codeTRANSACTION_EFFECTUEE }) |
            @Html.ActionLink("Delete", "Delete", new { code = item.codeTRANSACTION_EFFECTUEE })
        </td>
    </tr>
}

</table>
