@model IEnumerable<brouillon.Models.StockModel>

@{
    ViewBag.Title = "afficherTous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>STOCK</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codePRODUIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_c)
        </th>
        <th></th>
    </tr>

@foreach (ClassLibrary.Stock item in ViewBag.ListeStock) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codePRODUIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_c)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { code=item.codeSTOCK }) |
            @Html.ActionLink("Details", "Details", new { code = item.codeSTOCK }) |
            @Html.ActionLink("Delete", "Delete", new { code = item.codeSTOCK })
        </td>
    </tr>
}

</table>
