
@{
    ViewBag.Title = "afficherTous";
}

<table style="width:100%;">
    <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>Date creation</th>
    </tr>
        @{
            foreach (ClassLibrary.Marketer m in ViewBag.listeMarketer)
            {
                <tr>
                    <td>@m.codeMARKETER</td>
                    <td>@m.nom</td>
                    <td>@m.telephone</td>
                    <td>@m.email</td>
                    <td>@m.adresse</td>
                    <td>@m.ville</td>
                    <td>@m.pays</td>
                    <td>@m.date_c</td>
                </tr>
            }
        }

   

</table>
<br /> <br />
<a href="@Url.Action("ajouter", "Marketer")">Ajouter un marketer</a>